.home {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 100;
  text-align: center;
}

.item2 {
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 100;
  font-size: 40px;
}
