body {
  background: linear-gradient(-0.3turn, plum, aqua);
  height: 100%;
  color: darkgray;
}

/* html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
} */
