.value {
  display: block;
  color: azure;
}

.caption {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}

.planets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.residentCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

A:link {
  text-decoration: none;
}
A:visited {
  text-decoration: none;
}
A:active {
  text-decoration: none;
}
A:hover {
  text-decoration: none;
  color: plum;
}
