.value {
  display: block;
  color: azure;
}

.caption {
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  color: powderblue;
  text-align: center;
  animation: example infinite;
  animation-duration: 10s;
}

@keyframes example {
  0% {
    color: powderblue;
  }
  25% {
    color: plum;
  }
  50% {
    color: powderblue;
  }
  75% {
    color: plum;
  }
  100% {
    color: powderblue;
  }
}

.planets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.residentCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

A:link {
  text-decoration: none;
}
A:visited {
  text-decoration: none;
}
A:active {
  text-decoration: none;
}
A:hover {
  text-decoration: none;
  color: plum;
}
