A:link {
  color: azure;
  text-decoration: none;
}
A:visited {
  text-decoration: none;
  color: azure;
}
A:active {
  text-decoration: none;
  color: azure;
}

.question {
  width: 3%;
  height: 3%;
  margin: auto 0;
}

.footerEgor {
  display: flex;
  justify-content: center;
  background-color: gray;
  margin-top: 50px;
}
.footerLink {
  margin-left: 20px;
}
