A:link {
  color: azure;
  text-decoration: none;
}
A:visited {
  text-decoration: none;
  color: azure;
}
A:active {
  text-decoration: none;
  color: azure;
}

.question {
  width: 45px;
  height: 45px;
  margin: auto 0;
}

.aboutLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
}

.footerEgor {
  display: flex;
  justify-content: center;
  background-color: gray;
  margin-top: 50px;
}
.footerLink {
  margin-left: 20px;
}
